.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.reglerButton {
  background: #cccccc;
  color: black;
  border: none;
  padding: 20px 60px;
  border-radius: 12px;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.reglerButton:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

/* Modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #f7f5f5ff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  text-align: left;
}

.closeButton {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: #888;
  color: white;
  border: none;
  border-radius: 8px;
}