.reglerButton {
  background: linear-gradient(145deg, #4e4e50, #6c6c70); 
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  border: none;
  padding: 35px 45px;  
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}

.reglerButton:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}

.reglerButton:active {
  transform: scale(1.02);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #f7f5f5ff;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  text-align: left;
}

.closeButton {
  margin-top: 10px;
  padding: 8px 16px;
  cursor: pointer;
  background: #888;
  color: white;
  border: none;
  border-radius: 8px;
}